<script src="/js/bulma.js"></script>
<script>
showSelections();
function showSelections() {
	document.getElementById("category-select").value = "<%= selectedCategory %>";
	document.getElementById("public-select").value = "<%= isPublicOnly %>";
	document.getElementById("sort-select").value = "<%= sortOrder %>";
	document.getElementById("count-select").value = "<%= itemsPerPage %>";
}

switchLayout();
function switchLayout(type) {
	if(!type) {
		type = localStorage.getItem("servers-layout");
		if(!type) {
			localStorage.setItem("servers-layout", "grid");
			type = localStorage.getItem("servers-layout");
		}
	} else {
		localStorage.setItem("servers-layout", type);
	}
	switch(type) {
		case "grid":
			$("#grid-layout-button").addClass("is-primary");
			$("#list-layout").addClass("is-hidden");
			$("#grid-layout").removeClass("is-hidden");
			$("#list-layout-button").removeClass("is-primary");
			break;
		case "list":
			$("#list-layout-button").addClass("is-primary");
			$("#list-layout").removeClass("is-hidden");
			$("#grid-layout-button").removeClass("is-primary");
			$("#grid-layout").addClass("is-hidden");
			break;
	}
}

function searchServers(query) {
	loadFrameContent("/servers?q=" + encodeURI(query.replaceAll("#", "")) + "&count=<%= itemsPerPage %>&page=<%= currentPage %>&sort=<%= sortOrder %>&category=<%= selectedCategory %>&publiconly=<%= isPublicOnly %>");
	window.location.hash = "servers-" + encodeURI(query.replaceAll("#", ""));
}
</script>

<br><br>
<div class="container">
	<div class="control is-horizontal">
		<span class="select">
			<select id="category-select" onchange="loadFrameContent('/servers?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= currentPage %>&sort=<%= sortOrder %>&category=' + this.value + '&publiconly=<%= isPublicOnly %>');">
				<option value="All">All Categories</option>
				<option>Gaming</option>
				<option>Tech</option>
				<option>Programming</option>
				<option>Community</option>
				<option>Bots</option>
				<option>Other</option>
			</select>
		</span>
		&nbsp;&nbsp;
		<span class="select">
			<select id="public-select" onchange="loadFrameContent('/servers?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= currentPage %>&sort=<%= sortOrder %>&category=<%= selectedCategory %>&publiconly=' + this.value);">
				<option value="false">Show All Servers</option>
				<option value="true">Public Listings Only</option>
			</select>
		</span>
		&nbsp;&nbsp;
		<span class="select">
			<select id="sort-select" onchange="loadFrameContent('/servers?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= currentPage %>&sort=' + this.value + '&category=<%= selectedCategory %>&publiconly=<%= isPublicOnly %>');">
				<option value="messages-asc">Messages Today (ascending)</option>
				<option value="messages-des">Messages Today (descending)</option>
				<option value="alphabetical-asc">Alphabetical (A-Z)</option>
				<option value="alphabetical-des">Alphabetical (Z-A)</option>
				<option value="owner-asc">Owner Name (A-Z)</option>
				<option value="owner-des">Owner Name (Z-A)</option>
				<option value="members-asc">Members (ascending)</option>
				<option value="members-des">Members (descending)</option>
				<option value="created-asc">Newest First</option>
				<option value="created-des">Oldest First</option>
			</select>
		</span>
		&nbsp;&nbsp;
		<span class="select">
			<select id="count-select" onchange="loadFrameContent('/servers?q=<%= activeSearchQuery %>&count=' + this.value + '&page=<%= currentPage %>&sort=<%= sortOrder %>&category=<%= selectedCategory %>&publiconly=<%= isPublicOnly %>');">
				<option value="0">All Items</option>
				<option value="8">8 items/page</option>
				<option value="16">16 items/page</option>
				<option value="24">24 items/page</option>
				<option value="32">32 items/page</option>
				<option value="48">48 items/page</option>
				<option value="64">64 items/page</option>
			</select>
		</span>
		&nbsp;&nbsp;
		<p class="control has-addons">
			<a id="grid-layout-button" class="button" onclick="switchLayout('grid');">
				<span class="icon is-small">
					<i class="fa fa-th"></i>
				</span>
				<span>Grid</span>
			</a>
			<a id="list-layout-button" class="button" onclick="switchLayout('list');">
				<span class="icon is-small">
					<i class="fa fa-th-list"></i>
				</span>
				<span>List</span>
			</a>
		</p>
	</div>
	<br>
	<div id="grid-layout" class="container is-hidden">
		<% if(serverData.length>0) { %>
			<div class="columns">
				<% for(var i=0; i<serverData.length; i++) { %>
					<div class="column is-one-quarter">
						<div class="card">
							<div class="card-image">
								<figure class="image is-square">
									<img src="<%= serverData[i].icon %>" alt="<%= serverData[i].id %>">
								</figure>
							</div>
							<div class="card-content" style="max-height: 500px;overflow-y: scroll;">
								<h3 class="title is-3"><%= serverData[i].name %></h3>
								<h5 class="subtitle is-5"><%= serverData[i].category %></h5>
								<div class="level is-mobile">
									<div class="level-item has-text-centered">
										<p class="heading">Members</p>
										<p class="title"><%= serverData[i].members %></p>
									</div>
									<div class="level-item has-text-centered">
										<p class="heading">Messages</p>
										<p class="title"><%= serverData[i].messages %></p>
									</div>
									<div class="level-item has-text-centered">
										<p class="heading">Created</p>
										<p class="title"><%= serverData[i].created %>d</p>
									</div>
								</div>

								<div class="media">
									<div class="media-left">
										<figure class="image is-32x32">
											<img src="<%= serverData[i].owner.avatar %>" alt="<%= serverData[i].owner.id %>">
										</figure>
									</div>
									<div class="media-content">
										<p class="title is-5"><%= serverData[i].owner.name %></p>
										<p class="subtitle is-6">@<%= serverData[i].owner.username %></p>
									</div>
								</div>

								<div class="content">
								<% if(serverData[i].description) { %>
									<%- serverData[i].description %>
								<% } %>
								</div>

								<% if(serverData[i].invite_link) { %>
									<div class="content">
										Use <code><%= serverData[i].command_prefix %>help</code> to learn how to use AwesomeBot on <%= serverData[i].name %>
									</div>
								<% } %>
							</div>
							<% if(serverData[i].invite_link) { %>
								<footer class="card-footer">
									<a class="card-footer-item" href="<%= serverData[i].invite_link %>">Join Server</a>
								</footer>
							<% } %>
						</div>
					</div>

					<% if(i % 4==3 && i!=serverData.length-1 && i!=0) { %>
						</div>
						<div class="columns">
					<% } %>
				<% } %>
			</div>
		<% } %>
	</div>
	<div id="list-layout" class="container is-hidden">
		<% if(serverData.length>0) { %>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Category</th>
						<th>Messages</th>
						<th>Owner</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<serverData.length; i++) { %>
						<tr class="modal-button" data-target="#server-<%= i %>-modal">
							<td>
								<img class="image is-24x24" src="<%= serverData[i].icon %>" alt="<%= serverData[i].id %>" style="border-radius: 100%;float:left;">
								&nbsp;
								<%= serverData[i].name %>
							</td>
							<td>
								<%= serverData[i].category %>
							</td>
							<td>
								<%= serverData[i].messages %>
							</td>
							<td>
								<img class="image is-24x24" src="<%= serverData[i].owner.avatar %>" alt="<%= serverData[i].owner.id %>" style="border-radius: 100%;float:left;">
								&nbsp;
								@<%= serverData[i].owner.username %>
							</td>
						</tr>
						<div id="server-<%= i %>-modal" class="modal">
							<div class="modal-background"></div>
							<div class="modal-container">
								<div class="modal-content">
									<div class="box">
										<article class="media">
											<div class="media-left">
												<figure class="image is-128x128">
													<img src="<%= serverData[i].icon %>" alt="<%= serverData[i].id %>">
												</figure>
											</div>
											<div class="media-content">
												<div class="content">
													<h4 class="title is-4">
														<%= serverData[i].name %> <small class="subtitle is-5"><%= serverData[i].category %></small>
													</h4>
													<h6 class="subtitle is-6">
														Owned by @<%= serverData[i].owner.username %>, created <%= serverData[i].created %> days ago
													</h6>
													<% if(serverData[i].description) { %>
														<%- serverData[i].description %>
														<br>
													<% } %>
													Use <code><%= serverData[i].command_prefix %>help</code> to learn how to use AwesomeBot on <%= serverData[i].name %>
												</div>
												<% if(serverData[i].invite_link) { %>
													<nav class="level">
														<div class="level-left">
																<a class="level-item" href="<%= serverData[i].invite_link %>">
																	Join Server
																</a>
														</div>
													</nav>
												<% } %>
											</div>
										</article>
									</div>
								</div>
							</div>
							<button class="modal-close"></button>
						</div>
					<% } %>
				</tbody>
			</table>
		<% } %>
	</div>
	<% if(serverData.length==0) { %>
		<article class="message is-danger">
			<div class="message-header">
				<span class="icon">
					<i class="fa fa-meh-o"></i>
				</span>
				<span>No Results</span>
			</div>
			<div class="message-body">
				There aren't any servers that matched your filters and/or query. 
				<a class="button is-small" href="javascript:loadFrameContent('/servers?q=&count=<%= itemsPerPage %>&page=1&sort=<%= sortOrder %>&category=All&publiconly=false');">
					<span class="icon is-small">
						<i class="fa fa-chevron-left"></i>
					</span>
					<span>Reset</span>
				</a>
			</div>
		</article>
	<% } %>
	<% if(numPages>1) { %>
		<br>
		<nav class="pagination">
			<ul>
				<% if(currentPage>2) { %>
					<li>
						<a class="button" href="/servers?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=1&sort=<%= sortOrder %>&category=<%= selectedCategory %>&publiconly=<%= isPublicOnly %>">
							1
						</a>
					</li>
				<% } %>
				<% if(currentPage>3) { %>
					<li>
						<span>...</span>
					</li>
				<% } %>
				<% if(currentPage>1) { %>
					<li>
						<a class="button" href="/servers?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= currentPage-1 %>&sort=<%= sortOrder %>&category=<%= selectedCategory %>&publiconly=<%= isPublicOnly %>">
							<%= currentPage-1 %>
						</a>
					</li>
				<% } %>
				<li>
					<a class="button is-primary" href="/servers?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= currentPage %>&sort=<%= sortOrder %>&category=<%= selectedCategory %>&publiconly=<%= isPublicOnly %>">
						<%= currentPage %>
					</a>
				</li>
				<% if(currentPage<numPages) { %>
					<li>
						<a class="button" href="/servers?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= currentPage+1 %>&sort=<%= sortOrder %>&category=<%= selectedCategory %>&publiconly=<%= isPublicOnly %>">
							<%= currentPage+1 %>
						</a>
					</li>
				<% } %>
				<% if(currentPage<numPages-2) { %>
					<li>
						<span>...</span>
					</li>
				<% } %>
				<% if(currentPage<numPages-1) { %>
					<li>
						<a class="button" href="/servers?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= numPages %>&sort=<%= sortOrder %>&category=<%= selectedCategory %>&publiconly=<%= isPublicOnly %>">
							<%= numPages %>
						</a>
					</li>
				<% } %>
			</ul>
		</nav>
	<% } %>
</div>
<br><br>